{% extends "base.html" %}

{% block conteudo %}
<h1>Lista de Produtos</h1>



<table class="table table-striped">
  <thead>
    <tr>
        <th>Cod</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Ação</th>
    </tr>
  </thead>
  <tbody>
  {% for p in produtos %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.descricao }}</td>
        <td>{{ p.preco }}</td>
        <td>{{ p.quantidade }}</td>
        <td>
            <a href="#" class="btn btn-warning">Editar</a>&nbsp;&nbsp;
            <a href="#" class="btn btn-danger">Excluir</a>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}